<img src="https://i.redd.it/6brfmxf7b8ga1.png" alt="Italian Trulli">

### Exercise on data types

## <font color='red'>What data type would that be?</font>

#### x = 5
#### print(type(x))

X is an int

#### x = "Hello World"
#### print(type(x))

X is a string

#### x = 20.5
#### print(type(x))

X is a float

#### x = ["apple", "banana", "cherry"]
#### print(type(x))

X is a list

#### x = ("apple", "banana", "cherry")
#### print(type(x))

X is a tuple

#### x = {"name" : "John", "age" : 36}
#### print(type(x))

X is a dict

#### x = True
#### print(type(x))

X is a boolean

## Exercise on Numbers

#### Insert the correct syntax to convert x into a floating point number.

In [4]:
# x = 5
# x =....(x)
# print(x)
X = 5
x = float(X)
print(x)

5.0

### Insert the correct syntax to convert x into a integer.

In [5]:
# x = 5.5
# x =......(x)
# print(x)
X = 5.5
x = int(X)
print(x)

5

## Exercise on string

### Use the `len()` function to print the length of the string.

In [6]:
# x = "Hello World"
# print(.........)
x = "Hello World"
X = len(x)
print(X)

11

### Get the first character of the string txt.

In [9]:
# txt = "Hello World"
# x = ..........
txt = "Hello World"
print(txt[0])

H

### Get the characters from index 2 to index 4 (llo).

In [11]:
# txt = "Hello World"
#  x =........
print(txt[2:4])

ll

##### Return the string without any whitespace at the beginning or the end.
##### hint ` txt.strip()`

In [14]:
# txt = " Hello World "
# x =..................
print(txt.strip())

Hello World

### Convert the value of `txt` to upper case.

In [15]:
# txt = "Hello World"
# txt = ........
print(txt.upper())

HELLO WORLD

### Convert the value of `txt` to lower case.

In [ ]:
# txt = "Hello World"
# txt = .........
print(txt.lower())

#### Replace the character` H` with a `J`

In [16]:
# txt = "Hello World"
# txt = txt. .......(...,... )
print(txt.replace("H","J"))

Jello World

#### Insert the correct syntax to add a placeholder for the age parameter.

In [17]:
# age = 36
# txt = f"My name is John, and I am ......"
# print(txt)
age = 36
txt = f"My name is John, and I am {age}"
print(txt)

My name is John, and I am 36

### Exercise on Booleans

The statement below would print a Boolean value, which one?

In [1]:
# print(10 > 9)
# ..............
print(10 > 9)

True

The statement below would print a Boolean value, which one?

In [2]:
# print(10 == 9)
# ............
print(10 == 9)

False

The statement below would print a Boolean value, which one?

In [3]:
# print(10 < 9)
# ..........
print(10 < 9)

False

### <font color='gold'>Exercise-1</font>

#### Write a Python program to print the following string in a specific format

In [32]:
# Twinkle, twinkle, little star,
# 	How I wonder what you are!
# 		Up above the world so high,
# 		Like a diamond in the sky.
# Twinkle, twinkle, little star,
# 	How I wonder what you are!
print("""
      Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!
      """)

      Twinkle, twinkle, little star,
	How I wonder what you are!
		Up above the world so high,
		Like a diamond in the sky.
Twinkle, twinkle, little star,
	How I wonder what you are!

### <font color='gold'>Exercise-2</font>

#### Write a Python program that print the user's first and last name and prints them in reverse order with a space between them.

In [4]:
first = "Osama"
sec = "Youssef"
print(sec,first)

Youssef Osama

### <font color='gold'>Exercise-3</font>

#### Write a Python program that calculates the area of a circle and radius = 1.1

In [29]:
r=1.1
area=3.14 *r**2
print(area)

3.7994000000000008

### <font color='gold'>Exercise-4</font>

#### Write a Python program that accepts a filename from the user and prints the extension of the file.

Sample Output:
Input the Filename: abc.java                                                                                  
The  extension of the file is : 'java'

In [30]:
filename="abc.py"
f_exts=filename.split(".")
print(f_exts[-1])

py

### <font color='gold'>Exercise-5</font>

#### Covert from string to list and tuple value ="Amit"

In [31]:
y="Amit"
list_one = list(y)
print(list_one)
tuple_one = tuple(y)
print(tuple_one)

['A', 'm', 'i', 't']
('A', 'm', 'i', 't')

 ## After that

### Relace the index 3 in the list

In [19]:
list_one[3] = "E"
print(list_one)

['A', 'm', 'i', 'E']

 ### Convert the list to string and print the list

### <font color='gold'>Exercise-6</font>

#### Write a Python program to display the first and last colors from the following list.

In [28]:
color_list = ["Red","Green","White" ,"Black"]
print(color_list[0:4:3])

['Red', 'Black']

#### color_list = ["Red","Green","White" ,"Black"]

<img src="https://www.w3resource.com/w3r_images/python-basic-image-exercise-8.png" alt="Italian Trulli">

## <font color='gold'>Exercise-7</font>

#### Write a Python program to print the following 'here document'.

In [10]:
# Sample Output:
# a string that you "don't" have to escape
# This
# is a  ....... multi-line
# heredoc string --------> example
print("""
    Sample Output:
            a string that you "don't" have to escape
            This
            is a  ....... multi-line
            heredoc string --------> example
      """)

    Sample Output:
                 a string that you "don't" have to escape
                 This
                 is a  ....... multi-line
                 heredoc string --------> example

## <font color='gold'>Exercise- 8</font>

###### I need to  check if  link `https://www.google.com/` strart with https or not and if the ` aimt4536@gmail.com` end with .com

In [20]:
link = 'https://www.google.com/'
print(link.startswith("https"))
gmail = 'imt4536@gmail.com'
print(gmail.endswith(".com"))

True
True

# Thanks ‚ù§

<img src="https://pbs.twimg.com/media/ELwC6EgXYAE8AtN.jpg" alt="Italian Trulli">